.mb-5 {
  margin-bottom: 1.25rem
}

.flex {
  display: flex
}

.h-1\/2 {
  height: 50%
}

.h-1\/5 {
  height: 20%
}

.h-10 {
  height: 2.5rem
}

.h-12 {
  height: 3rem
}

.h-16 {
  height: 4rem
}

.h-2\/3 {
  height: 66.666667%
}

.h-20 {
  height: 5rem
}

.h-32 {
  height: 8rem
}

.h-4\/5 {
  height: 80%
}

.h-5 {
  height: 1.25rem
}

.h-full {
  height: 100%
}

.w-1\/2 {
  width: 50%
}

.w-1\/4 {
  width: 25%
}

.w-10 {
  width: 2.5rem
}

.w-20 {
  width: 5rem
}

.w-32 {
  width: 8rem
}

.w-5 {
  width: 1.25rem
}

.w-full {
  width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.overflow-hidden {
  overflow: hidden
}

.rounded-full {
  border-radius: 9999px
}

.rounded-md {
  border-radius: 0.375rem
}

.border {
  border-width: 1px
}

.border-blue {
  --tw-border-opacity: 1;
  border-color: rgb(77 168 218 / var(--tw-border-opacity))
}

.border-red {
  --tw-border-opacity: 1;
  border-color: rgb(193 86 69 / var(--tw-border-opacity))
}

.border-opacity-50 {
  --tw-border-opacity: 0.5
}

.bg-bg_black {
  --tw-bg-opacity: 1;
  background-color: rgb(34 34 34 / var(--tw-bg-opacity))
}

.bg-bg_white {
  --tw-bg-opacity: 1;
  background-color: rgb(253 253 253 / var(--tw-bg-opacity))
}

.bg-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(77 168 218 / var(--tw-bg-opacity))
}

.bg-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(119 119 119 / var(--tw-bg-opacity))
}

.bg-gray_light {
  --tw-bg-opacity: 1;
  background-color: rgb(228 228 228 / var(--tw-bg-opacity))
}

.bg-green {
  --tw-bg-opacity: 1;
  background-color: rgb(87 172 113 / var(--tw-bg-opacity))
}

.bg-orange {
  --tw-bg-opacity: 1;
  background-color: rgb(193 132 69 / var(--tw-bg-opacity))
}

.bg-red {
  --tw-bg-opacity: 1;
  background-color: rgb(193 86 69 / var(--tw-bg-opacity))
}

.bg-transparent {
  background-color: transparent
}

.p-2 {
  padding: 0.5rem
}

.p-5 {
  padding: 1.25rem
}

.p-1 {
  padding: 0.25rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.text-blue {
  --tw-text-opacity: 1;
  color: rgb(77 168 218 / var(--tw-text-opacity))
}

.text-gray {
  --tw-text-opacity: 1;
  color: rgb(119 119 119 / var(--tw-text-opacity))
}

.text-orange {
  --tw-text-opacity: 1;
  color: rgb(193 132 69 / var(--tw-text-opacity))
}

.text-red {
  --tw-text-opacity: 1;
  color: rgb(193 86 69 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-opacity-50 {
  --tw-text-opacity: 0.5
}

.underline {
  text-decoration-line: underline
}
